# langchain==0.3.22
# langchain-core==0.3.56
# langchain-aws==0.2.20
# langgraph==0.4.1
# streamlit==1.46.1
# boto3== 1.38.46
# pytest==8.4.1
# google-genai==1.23.0

streamlit
google-generativeai
python-dotenv
PyPDF2
python-docx
fpdf2